.author-section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 2.6em 2em;
}

.author-photography-section {
    text-align: center;
    margin-bottom: 2em;
}

.author-photography {
    margin: 0 auto;
    width: 330px;
}

.author-description {
    text-align: justify;
    line-height: 1.3em;
}